/**
 * Layout
 */
 html {
    font-size: 1.1rem;
}
body {
    background: #f1f1f1;
}
main {
    background: white;
    border: 0.5px solid #dcdcdc;
    width: 90%;
    padding: 1.5rem;
    margin: auto;
    box-sizing: border-box;
}
dl dt {
    font-weight: bold;
}
.conteudo .ui-accordion-content {
    padding-top: 0;
    padding-bottom: 0;
}
.util-meio {
    text-align: center;
}
.util-margin-bottom {
    margin-bottom: 1rem;
}

/**
 * Lista
 */
.ui-helper-reset {
    list-style: initial;
}

/**
 * Titulos
 */
.aula h1 {
    display: inline-block;
    margin-bottom: 0;
}
.ui-icon {
    display: inline-block;
}
.topico {
    margin-top: 1rem;
    border-top: 1px solid gray;
    padding-top: 0;
}
.topico h2 {
    display: inline-block;
    margin: 0;
    padding: 1.5em 0 0.5em 0;
}

/**
 * Botão
 */
.controlador {
    position: fixed;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius:50%;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}
#close {
    bottom: 2rem;
}
#open {
    bottom: 6rem;
}

/**
 * APOL
 */
.apol {
    margin-bottom: 1rem;
}
.apol.ui-state-default {
    background: #E8FFE8;
}
.apol.ui-state-hover {
    background: #D7F9D7;
}
.apol.ui-state-active {
    background: #67D269;
    border: 1px solid #6B966C;
}
.apol .ui-accordion-content-active {
    background: #EDF7E9;
    border: 1px solid #d6e9c6;
}

/**
 * Afirmações das APOL
 */
.afir-apol {
    margin-bottom: 1rem;
}
.afir-apol.ui-state-default {
    background: black;
}
.afir-apol.ui-state-hover {
    background: red;
}
.afir-apol.ui-state-active {
    background: yellow;
    border: 1px solid #6B966C;
}
.afir-apol .ui-accordion-content-active {
    background: green;
    border: 1px solid #d6e9c6;
}

/**
 * Header
 */
.navbar-header button {
    color: #FFF;
}